{% extends 'base.html' %}
{% import 'modules/personcard.html' as personcard %}

{% block c_title %}GSRGT{% endblock %}

{% block c_head %}
<div class="image-head">
    <h2>International Bladder Cancer Group</h2>
    <h1>{% block c_preview_title %}Global Society for Rare GU Tumors{% endblock %}</h1>
</div>
{% endblock %}

{% block c_main %}

<p>
{% block c_preview_summary %}
In 2021, the IBCG and the Global Society of Rare GU Tumors (GSRGT) forged a powerful alliance by forming a joint committee focused on rare variants of bladder cancer. Recognizing the growing global health concern of bladder cancer, particularly the increasing incidence of rare variants, this committee unites experts from both organizations to collaborate on vital research, education, and clinical trial endpoints.  Our shared goal is to advance the understanding and treatment of rare bladder cancer histologic subtypes and genetic variants.
{% endblock %}
</p>

{% for id in [
    18,
    6,
    27,
    50,
    1,
    33,
    75,
    73,
    74,
    72
    ] %}
    {% set p = people[id] %}
    {{ personcard.personcard(p.id, p.name, p.title, p.positions, p.image_url) }}
{% endfor %}


{% endblock %}

