{% extends 'base.html' %}
{% import 'modules/personcard.html' as personcard %}

{% block c_title %}HSR{% endblock %}

{% block c_head %}
<div class="image-head">
    <h2>International Bladder Cancer Group</h2>
    <h1>{% block c_preview_title %}Health Service Research{% endblock %}</h1>
</div>
{% endblock %}

{% block c_main %}

<p>
{% block c_preview_summary %}
Under the visionary leadership of IBCG members, Drs. Stephen B. Williams and Yair Lotan, the Health Services Research (HSR) arm of the IBCG is forging a path towards becoming a global collaborative hub to enhance population-based health services research for bladder cancer. Through the development and utilization of robust databases and innovative research methodologies, the HSR team is dedicated to generating actionable insights to improve the quality, accessibility, and efficiency of bladder cancer care delivery worldwide.
{% endblock %}
</p>

{% for id in [
    49,
    19,
    4,
    21,
    26,
    20,
    42,
    1,
    55,
    79,
    92,
    27
    ] %}
    {% set p = people[id] %}
    {{ personcard.personcard(p.id, p.name, p.title, p.location, p.positions, p.image_url) }}
{% endfor %}



{% endblock %}

