{% macro personcard(id, name, title, location, positions, image_url) -%}
<div class="card" id="{{ id }}">
    <div class="person-card">
        <div class="person-image">
            <img src="{{ image_url }}"></img>
        </div>
        <div class="person-text">
            <div class="person-identifiers">
                <p class="person-name">{{ name }}</p>
                <p class="person-title">{{ title }}</p>
            </div>
            {% if location != "" %}
            <div class="person-location">
                <i class="material-icons">location_on</i><p>{{ location }}</p>
            </div>
            {% endif %}
            <div class="person-positions">
                <ul>
                {% for position in positions %}
                    <li>{{ position }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro persontile(id, name, title, image_url, on_click) -%}
<div class="person-tile" id="{{ id }}">
    <div class="person-image">
        <img src="{{ image_url }}"></img>
        <div class="person-overlay">
            <div class="person-overlay-container">
                <div class="person-overlay-content">
                    <div class="person-details">
                        <p class="person-name">{{ name }}</p>
                        <p class="person-title">{{ title }}</p>
                    </div>
                </div>
                <div class="person-expand" onclick="{{ on_click }}">
                    <a>View&nbsp;more&nbsp;⇒</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


