{% extends 'base.html' %}
{% import 'modules/card.html' as card %}

{% block c_title %}Collaborations{% endblock %}

{% block c_main %}

{% for collaboration in collaborations %}
    {{ card.card(collaboration.title, collaboration.summary, collaboration.link) }}
{% endfor %}

<div class="link-card">
    <div class="card-content">
        <p class="card-title">Bladder Cancer Advocacy Network (BCAN)</p>
        <p class="card-info">The IBCG is honored to partner with the Bladder Cancer Advocacy Network (BCAN), a leading force in patient advocacy and support.  Together, we are committed to empowering bladder cancer patients and their families by providing resources, fostering a strong community, and advocating for improved research and treatment options. Through this collaboration, we strive to ensure that every individual affected by bladder cancer has access to the support and information they need to navigate their journey with confidence and hope.</p>
    </div>
    <div class="card-link">
        <a href="https://bcan.org">&rArr;</a>
    </div>
</div>

<div class="link-card">
    <div class="card-content">
        <p class="card-title">World Bladder Cancer Patient Coalition (WBCPC)</p>
        <p class="card-info">The IBCG values our partnership with the World Bladder Cancer Patient Coalition (WBCPC), a global network dedicated to uniting patient organizations worldwide in the fight against bladder cancer. By collaborating with the WBCPC, we aim to continue our track record of creating a truly global community where people can work together to drive meaningful change in the fight against bladder cancer.</p>
    </div>
    <div class="card-link">
        <a href="https://worldbladdercancer.org/news_events/expert-discuss-findings-from-global-bladder-cancer-patient-carer-survey/">&rArr;</a>
    </div>
</div>


{% endblock %}

