{% extends 'base.html' %}

{% block c_title %}Contact{% endblock %}

{% block c_main %}
<h1>Membership</h1>

<p>IBCG membership is limited to clinicians, scientists, and patient advocates dedicated to advancing the IBCG mission to enhance the care of patients with bladder cancer on a global level.  Members are expected to actively participate in all scheduled IBCG activities, including in-person attendance at the annual retreat.</p>

<p>New applicants for membership must be nominated by a current, active IBCG member in good standing.</p>

<p>Interested applicants should submit the following to the Board of Directors for consideration:</p>

<p>
    <i>Email</i>: members@ibcg.info <br />
    <i>Subject Line</i>: Application for IBCG Membership
</p>

<ol>
    <li>Your curriculum vitae</li>

    <li>Letter outlining why you desire to join IBCG membership</li>

    <li>A supporting letter from an active IBCG member in good standing</li>
</ol>

{% endblock %}

